html, body {
  height: 100%;
}

body {
  align-items: center;
  color: #111;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  justify-content: center;
  margin: 0;
}

#value {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 48px;
}

#description {
  font-size: 14px;
}
